*{ margin:0px; padding:0px;}
a{ text-decoration:none;}
.img {
	float: left;
	height: 167px;
	width: 700px;
}
.top {
	height: 167px;
	width: 945px;
	margin-right: auto;
	margin-left: auto;
}
.left {
	float: left;
	height: auto;
	width: 220px;
}
.right {
	float: right;
	height: auto;
	width: 714px;
}
.title {
	height: 30px;
	width: 100%;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #8C4600;
	margin-bottom: 10px;
	float: left;
}
.Adoption_title {
    cursor:pointer;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #FFF;
	margin-right: 10px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #999;
	width: auto;
	float: left;
}
.Adoption_titledq {
    cursor:pointer;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: bold;
	color: #FFF;
	margin-right: 10px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #8C4600;
	width: auto;
	float: left;
}
.Adoption_title2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #FFF;
	margin-right: 10px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #999;
	width: auto;
	float: left;
	cursor:pointer;
}
.Adoption_title2dq {
  font-weight:bold;
  background:#8C4600;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #FFF;
	margin-right: 10px;
	padding-right: 20px;
	padding-left: 20px;
	width: auto;
	float: left;
	cursor:pointer;
}
.Adoption_txt {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #333;
	height: auto;
	float: left;
	width: 714px;
}
.Adoption_txt ul{ width:100%; height:auto; float:left; margin:0px; padding:0px;}
.Adoption_txt ul li{ width:33%; display:block; padding:4px 0px; float:left;}
.Adoption_txt ul li a{ color:#5B5B5B; text-decoration:underline;}
.Adoption_txt ul li a:hover{ color:#ff0000; text-decoration:none;}
.title_img {
	width: auto;
	margin-bottom: 10px;
	margin-top: 15px;
	float: left;
}
.Select_field_box {
	height: auto;
	width: 714px;
	margin-top: 10px;
	float: left;
}
.text_field {
	font-size: 12px;
	color: #666;
	width: 600px;
	border: 1px solid #999;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 20px;
	height: 20px;
}
.Recommended_img {
	float: left;
	height: auto;
	width: 100%;
	margin-top: 10px;
}
.Recommended_img ul{ width:100%; height:auto; float:left; margin:0px; padding:0px;}
.Recommended_img ul li{ width:171px; height:auto; float:left; margin-right:7px; display:block; text-align:center; line-height:30px; margin-bottom:8px;}
.more_cities {
	font-size: 12px;
	line-height: 26px;
	font-weight: bold;
	color: #8c4600;
	background-color: #dbdbdb;
	float: left;
	height: 26px;
	padding-right: 5px;
	padding-left: 15px;
	width: 130px;
}
.more_unfold {
	font-size: 12px;
	line-height: 26px;
	font-weight: bold;
	color: #8c4600;
	background-color: #dbdbdb;
	float: left;
	height: 17px;
	text-align: center;
	padding-top: 9px;
	padding-right: 10px;
}
.Recommended_city {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #333;
	background-color: #DBDBDB;
	padding: 10px;
	height: auto;
	margin-bottom: 5px;
	float: left;
	width: 694px;
}
.more_cities_ul {
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.more_cities_ul li{ width:14%; float:left;}
.Recommended_field_box {
	background-color: #aaa;
	padding: 10px;
	float: left;
	width: 694px;
}
.Recommended_field {
	font-size: 12px;
	color: #666;
	width: 690px;
	border: 1px solid #999;
	line-height: 25px;
	height: 25px;
	padding-left: 4px;
}
.Activities_img_bok {
	float: left;
	height: auto;
	width: 714px;
	margin-bottom: 10px;
}
.Activities_img_left {
	float: left;
	height: auto;
	width: 352px;
	margin-right: 10px;
}
.Activities_img {
	float: left;
	height: auto;
	width: 171px;
	padding-right: 10px;
}
.Activities_img_title {
	float: left;
	width: 170px;
	font-size: 12px;
	line-height: 25px;
	color: #333;
}
.Activities_img_txt {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	line-height: 18px;
	color: #666;
	float: left;
	width: 170px;
}
.Activities_img_right {
	float: right;
	height: auto;
	width: 352px;
}
.Activities_Scenic  {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #333;
	background-color: #E5E5E5;
	height: auto;
	float: left;
	width: 694px;
	padding: 10px;
}
.Activities_Scenic_ul {
	float: left;
	width: auto;
	padding: 0px;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.Activities_Scenic_ul ul li input{ margin-right:1px;}
.Activities_Scenic_ul2 {
	float: right;
	width: 195px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.Activities_bottom {
	float: left;
	margin-bottom: 15px;
	padding-top: 1px;
}
.search_results_bok {
	float: left;
	width: 710px;
	margin-bottom: 15px;
	border: 2px solid #8c4600;
	background-image: url(/images/adoption/adoption_r30_c16.jpg);
	background-repeat: no-repeat;
	background-position: 20px center;
	padding: 0px;
}
.search_results_right {
	font-size: 13px;
	line-height: 35px;
	color: #FFF;
	background-color: #8c4600;
	float: right;
	height: auto;
	width: 470px;
	padding: 10px;
}
.selec_day {
	font-size: 13px;
	color: #666;
	width: 150px;
	border: 1px solid #666;
}
.tour_date_box {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 35px;
	color: #333;
	background-image: url(/images/adoption/adoption_r32_c12.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	float: left;
	height: auto;
	width: 714px;
}
.tour_date_1 {
	font-weight: bold;
	background-color: #DDD;
	text-align: right;
	padding-right: 20px;
	float: left;
	width: 138px;
	background-image: url(/images/adoption/adoption_r32_c12.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.tour_date_2 {
	width: 100px;
	padding-right: 10px;
	float: left;
	text-align: right;
}
.tour_date_3 {
	float: left;
	width: 150px;
	padding-right: 10px;
	height: 20px;
	padding-top: 5px;
}
.tour_date_4 {
	float: left;
	height: 20px;
	padding-top: 5px;
}
.div {
	float: left;
	width: 556px;
}
.tour_date_1s {
	font-weight: bold;
	background-color: #DDD;
	text-align: right;
	padding-right: 20px;
	float: left;
	width: 138px;
	line-height: 70px;
	background-image: url(/images/adoption/adoption_r32_c12.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.tour_date_5 {
	float: left;
	width: 250px;
	padding-left: 20px;
}
.Personal_Information_box {
background:#dddddd;
margin-top:10px;
	padding: 1px;
	float: left;
	width: 710px;
	border: 1px solid #bbb;
	color: #666;
	line-height: 20px;
}
.Personal_Information_title {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	color: #FFF;
	background-color: #454545;
	float: left;
	width: 700px;
	margin-bottom: 10px;
	padding-left: 10px;
}
.Personal_Information_input {
  padding-left:20px;
	float: left;
	width: 670px;
	margin-bottom: 5px;
}
.Personal_Information_input_left {
	float: left;
	width: 325px;
}
.Personal_Information_input_right {
	float: right;
	width: 325px;
}
.Personal_left {
	float: left;
	width: 325px;
}
.Personal_right {
	float: right;
	width: 325px;
}
.Personal_field {
	font-size: 13px;
	color: #666;
	width: 265px;
	border: 1px solid #C9C7C8;
}
.Personal_field2 {
	font-size: 13px;
	color: #666;
	border: 1px solid #C9C7C8;
	width: 50px;
	margin-right: 4px;
}
.Personal_field3 {
	font-size: 13px;
	color: #666;
	width: 325px;
	border: 1px solid #C9C7C8;
}
.Personal_field4 {
	font-size: 13px;
	color: #666;
	width: 670px;
	border: 1px solid #C9C7C8;
	height:auto; padding:0px; margin:0px;
	float:left;
}
.search_box {
	background-image: url(/images/adoption/adoption2.fw_r2_c2.jpg);
	background-repeat: repeat-y;
	background-position: left top;
	float: left;
	height: auto;
	width: 166px;
	margin-left: 10px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #FFF;
}
.search_box span{ text-decoration:underline; color:#000; font-weight:bold; cursor:pointer; line-height:24px;}
.search_bottom {
	float: left;
	height: auto;
	margin-bottom: 20px;
	margin-left: 10px;
}
.left_img_title {
	float: left;
	margin-left: 4px;
}
.left_tips {
	background-image: url(/images/adoption/adoption2.fw_r12_c4.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	width: 186px;
	float: left;
	margin-left: 10px;
	font-size: 11px;
	line-height: 20px;
	background-color: #DEDEDE;
}
.left_tips a:link {
	color: #666;
	text-decoration: none;
}
.left_tips a:visited {
	text-decoration: none;
	color: #666;
}
.left_tips a:hover {
	text-decoration: underline;
	color: #666;
}
.left_tips a:active {
	text-decoration: none;
	color: #C00;
}
.left_Holiday {
	background-repeat: no-repeat;
	background-position: center center;
	width: 166px;
	float: left;
	margin-left: 10px;
	font-size: 12px;
	line-height: 15px;
	background-color: #DDD;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	color: #666;
}
.left_bottom {
	background-image: url(/images/adoption/adoption2.fw_r30_c3.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	float: left;
	height: 44px;
	width: 186px;
	margin-left: 10px;
	background-color: #DDD;
}
.left_field {
	width: 166px;
	border: 1px solid #999;
}
.left_field2 {
	width: 160px;
	border: 1px solid #999;
	margin:5px 0px;
}
.Provincial_ul {
	float: left;
	width: 238px;
	margin: 0px;
	padding: 0px;
	height: auto;
}
.Provincial_ul a:link {
	color: #666;
	text-decoration: none;
}
.Provincial_ul a:visited {
	text-decoration: none;
	color: #666;
}
.Provincial_ul a:hover {
	text-decoration: underline;
	color: #666;
}
.Provincial_ul a:active {
	text-decoration: none;
	color: #C00;
}
.top_right {
	background-color: #ddd;
	background-image: url(/images/adoption/adoption_r1_c21.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	float: right;
	width: 220px;
	height: 147px;
	padding-right: 9px;
	padding-left: 16px;
	padding-top: 20px;
}
.top_right span{ width:202px; height:32px; float:left; display:block; margin-top:15px;}
.top_right select{ width:200px; height:23px; display:block; border:1px solid #8a8a8a; line-height:23px; color:#777777; background:url(/images/top10/selectbg.jpg) repeat-x; display:block;}



.top_right_field {
	font-size: 13px;
	color: #666;
	width: 202px;
	border: 1px solid #666;
	margin-bottom: 10px;
	height: 25px;
}
#menu-tours {background:#D6D6D6; color:#444444; float:left; height:26px; line-height:26px; margin-bottom:10px; padding-left:10px; width:910px;}
#menu-tours a{background: url(/templates/jv_news_ii//images/arrow.png) no-repeat right center; color:#2487D2; padding-right:15px;}
#menu-tours a:hover{ color:#000000; text-decoration:underline;}

.more-indexcont h2 span#close-index{cursor: pointer; float: right; padding: 5px 10px 4px 0;}
.more-indexcont { position:absolute; background:#FBE5CD; height: auto; left: 450px; padding: 7px; top:320px; width: 565px; z-index: 9999;}
.list-city{ width:543px; height:auto; float:left; border:1px solid #d7d7d7; padding:5px 10px 10px 10px; background:#f5e8d2; border-top:none;}
.more-indexcont h2{ display:block; border-bottom:1px solid #ccc; line-height:24px; font-size:12px; width:560px; margin:0px; padding:0px; height:28px; background:#d38400; font-weight:normal; color:#fff; padding-left:5px;}
.more-indexcont h2 b{ float:left;}
.more-indexcont h2 span#close-none{ float:right; padding:5px 10px 4px 0px; cursor:pointer;}
.list-city h3{ width:100%; height:auto; float:left; line-height:25px; color:#b67600; font-size:13px; font-weight:normal; margin:0px; padding:0px;}
.list-city ul{ width:100%; height:auto; float:left; margin:0px; padding:4px 0px; border-bottom:1px dashed #b0afad; border-top:1px dashed #b0afad; margin-bottom:5px;}
.list-city ul label{ cursor:pointer;}
.list-city ul li{ width:17%; white-space:nowrap; float:left; list-style:none; color:#4c4c4c; margin:0px 5px 2px 0px; padding:2px 5px 2px 3px;height:18px; line-height:18px;}
.confirm{ width:100%; height:auto; float:left; padding:3px 0px 8px 0px;}
.confirm textarea{ width:450px; height:78px; float:left; border:1px solid #cdcdcd;}
.confirm span{ float:right; width:74px;}
.confirm span a{ width:74px; height:31px; display:block;}


#search{ width:100%; height:auto; float:left;}
.searchcont{ width:205px; height:auto; float:left; background:#fff; border:5px solid #8c4600; padding:8px 0px 3px 5px;}
.searchcont table tr td{ padding:3px 1px;}
.searchcont table tr td ul{ width:205px; height:auto;}
.searchcont table tr td ul li{ display:inline-block; padding:3px 5px 3px 0px; float:left; width:auto;}
.searchcont table tr td select{ width:200px; border:1px solid #999999; height:22px; line-height:22px; font-family:Verdana, Arial, Helvetica, sans-serif;}
.searchcont table tr td span#more_index{ text-decoration:underline; cursor:pointer;}
.searchcont table tr td a{ text-decoration:underline; color:#8c4600;}
.searchcont table tr td a:hover{ text-decoration:none; color:#000;}
#guide{ width:100%; height:auto; float:left; margin-top:20px;}
.guidecont{ width:200px; height:auto; float:left; background:#fff; border:2px solid #8c4600; padding:0px 8px 10px 8px;}
.guidecont ul{ width:100%; height:auto; float:left;}
.guidecont ul li.bigdq{ width:185px; height:auto; float:left; background:url(/images/adoption/down.jpg) right center no-repeat; padding:8px 15px 8px 0px; border-bottom:1px solid #bcb9b9; font-size:14px; color:#000; cursor:pointer; display:block;}
.guidecont ul li.big{ width:185px; height:auto; float:left; background:url(/images/adoption/left.jpg) right center no-repeat; padding:8px 15px 8px 0px; border-bottom:1px solid #bcb9b9; font-size:14px; color:#000; cursor:pointer; display:block;}
.guidecont ul li ol{ width:192px; height:auto; float:left; display:block; background:#eee; padding:0px 4px 10px 4px; margin-top:1px;}
.guidecont ul li ol li{ width:190px; height:auto; float:left; display:block; border-bottom:1px dashed #868484; padding:6px 0px 6px 2px;}
.guidecont ul li ol li a{ color:#666666; line-height:14px;}
.guidecont ul li ol li a:hover,.guidecont ul li ol li a.dq{ color:#8c4600; text-decoration:underline;}

#customize{ width:100%; height:auto; float:left; margin-top:20px;}
.types{ width:100%; height:auto; float:left; margin-top:20px;}
.types ul{ width:212px; height:auto; float:left; border:2px solid #8c4600; padding:2px; border-top:none; background:#fff;}
.types ul li{ width:192px; height:24px; float:left; display:block; background:url(/images/index/bg.png) -510px -96px no-repeat; padding-left:20px; margin-bottom:2px;}
.types ul li a{ display:block; background:#eee; line-height:24px; padding-left:8px; width:184px; color:#666;}
.types ul li a:hover{ color:#8c4600; text-decoration:underline;}
.links{ width:100%; height:auto; float:left; margin-top:10px;}
.links a{ width:35px; height:34px; display:block; float:left; margin-right:26px;}

.left .title{ width:100%; height:auto; float:left; border:none; margin:0px;}

.homeland{ width:218px; height:auto; float:left; background:#fff; padding-right:1px; border-right:1px solid #cccccc;}
.homeland ul{ width:100%; height:auto; float:left;}
.homeland ul li.homelandtitle{ width:100%; height:40px; padding:0px;}
.homeland ul li{ width:176px; line-height:35px; height:35px; background:#dddddd; padding:0px 21px; border-bottom:1px solid #fff;}
.homeland ul li a{background:url(/images/top10/abg.png) right center no-repeat; width:100%; height:auto; display:block; color:#525252;}
.homeland ul li a:hover{ color:#8c4600; text-decoration:underline;}
.latestnew{ width:100%; height:auto; float:left; margin-top:20px;}
.latesttitle{ width:100%; height:auto; float:left;}
.latestcont{ width:198px; height:auto; float:left; background:#dddddd; border:1px solid #ccc; border-top:none; padding:10px 10px 0px 10px;}
.latestcont ul{ width:100%; height:auto; float:left; margin-bottom:8px;}
.latestcont ul li{ width:100%; height:auto; float:left; display:block; padding:2px 0px; color:#646060;}
.latestcont ul li.pic{ width:192px; height:106px; background:#fff; border:1px solid #ccc; padding:2px;}
.latestcont ul li a{ color:#111; text-decoration:underline; line-height:14px; display:block;}
.latestcont ul li a.tesu{ display:inline-block;}
.latestcont ul li a:hover{ text-decoration:none;}
.latestcont ul li.desc a{ text-decoration:none;}
.latestcont ul li.desc a:hover{ text-decoration:underline;}
.whynew{ width:198px; height:auto; float:left; background:#8c4600; padding:11px 11px 30px 11px; margin-top:20px;}
.whynew h2{ width:100%; height:auto; display:block; float:left;}
.whynew ul{ width:100%; height:auto; float:left; margin-top:5px;}
.whynew ul li{ width:167px; height:auto; float:left; display:block; border-bottom:1px dashed #ffffff; background:url(/images/adoption/whylinew.png) 0px 10px no-repeat; color:#fff; font-size:12px; padding:8px 0px 8px 31px;}
