@charset "utf-8";
/* CSS Document */
body{ width:100%; height:100%; margin:0px; padding:0px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;}
img{ border:none;}
*{ margin:0px; padding:0px;}
li{ list-style:none;}
.clear{ clear:both; width:0px; height:0px; font-size:0px; line-height:0px;}
a{ text-decoration:none;}
#top-button {
    bottom: 0;
    cursor: pointer;
    float: right;
    height: 88px;
    position: fixed;
    right: 50px;
    width: 47px;
}
#adoption{ width:920px; height:auto; margin:0px auto; background:#eeeeee; padding:10px 21px 10px 20px; overflow:hidden; font-size:12px; color:#333333; font-family:Verdana, Arial, Helvetica, sans-serif;}
#menu-tours {background:#D6D6D6; color:#444444; float:left; height:26px; line-height:26px; padding-left:10px; width:910px;}
#menu-tours a{background: url(/templates/jv_news_ii//images/arrow.png) no-repeat right center; color:#2487D2; padding-right:15px;}
#menu-tours a:hover{ color:#000000; text-decoration:underline;}
#banner{ width:100%; height:auto; float:left; margin-top:15px;}
#text{ width:888px; height:auto; float:left; border:1px solid #999999; border-top:none; background:url(/images/adoption/sym2.png) #fdf2e7 right bottom no-repeat; padding:0px 15px 8px 15px; line-height:18px;}
.fixed{ width:100%; height:auto; float:left; margin-top:20px; background:url(/images/adoption/fix.jpg) #dddddd left bottom no-repeat; padding-bottom:25px;}
.title{ width:100%; height:auto; float:left;}
.fix{ width:700px; height:auto; float:left; padding:15px 0px 0px 10px;}
.fix table{ border-top:3px solid #8c4600;}
.fix table tr.trtop{ background:#e4d0bb;}
.fix table tr.trtop td{ font-size:15px; color:#000000;}
.fix table tr td{ border:1px solid #fff; border-left:none; border-top:none; padding:8px 13px; text-align:center;}
.fix table tr td a{ color:#333; text-decoration:none;}
.fix table tr td a:hover{ color:#000; text-decoration:underline;}
.fixright{ width:190px; height:auto; float:right; margin-top:15px; padding-right:10px; line-height:18px; color:#1c1a1a;}
.fixright img{ width:190px; height:101px; display:block; margin-bottom:6px;}
.fixright a{ text-decoration:underline; color:#8c4600; font-size:13px; font-weight:bold;}
.fixright a:hover{ text-decoration:none; color:#ff0000;}

#adoptionleft{ width:666px; height:auto; float:left; margin-top:20px;}
.banner2014{ width:100%; height:130px; float:left; margin-top:20px;}
.province{ width:100%; height:auto; float:left;}
.province ul{ width:638px; height:auto; float:left; padding:0px 13px 15px 13px; border-left:1px solid #c1c1c1; border-right:1px solid #c1c1c1; background:url(/images/adoption/ulbottom.jpg) left bottom repeat-x;}
.province ul li{ width:151px; height:auto; float:left; padding:6px 0px 6px 8px; background:url(/images/adoption/abg.jpg) left center no-repeat;}
.province ul li a{ color:#666666;}
.province ul li a:hover{ color:#000; text-decoration:underline;}

.province1{ width:100%; height:auto; float:left; margin-top:20px;  /*  background:url(/images/adoption/recommendbg.png) right bottom no-repeat; */ }
.province1 ul{ width:638px; height:auto; float:left; padding:0px 13px 10px 13px; border-left:1px solid #c1c1c1; border-right:1px solid #c1c1c1; background:url(/images/adoption/ulbottom.jpg) #fff left bottom repeat-x;}
.province1 ul li{ width:638px; color:#666; height:auto; float:left; padding:5px 0px;}
.province1 ul li span{width:18px; height:18px; text-align:center; color:#ffffff; font-size:11px; font-weight:bold; line-height:15px; float:left; display:block; background:url(/images/adoption/rspan.png) left center no-repeat; margin-right:5px;}
.province1 ul li a{ color:#666666; text-decoration:underline; height:auto; padding-right:8px;}
.province1 ul li a:hover{ color:#000;}
.province1 ul li strong{ color:#888; font-weight:normal; font-style:italic;}



.ad-guide,.culture{ width:100%; height:auto; float:left;}
.ad-guide ul,.culture ul{ width:234px; height:auto; float:left; padding:2px 9px 15px 9px;}
.ad-guide ul li,.culture ul li{ width:100%; height:auto; float:left; display:block; color:#5e5e5e; line-height:18px; padding:4px 0px;}
.culture ul li{ padding:0px;}
.ad-guide ul li.desc span a{ color: #5E5E5E;height: auto;margin:0;width: 123px; background:url(/images/adoption/libg.jpg) 0px 7px no-repeat; padding-left:10px;}
.ad-guide ul li.desc span a:hover{ color:#FF0000;text-decoration:underline;}
.ad-guide ul li.desc a{ width:98px; height:95px; display:block; float:left;}
.ad-guide ul li.desc img{ width:98px; height:95px; display:block; float:left; margin-top:10px;}
.ad-guide ul li span{ width:133px; height:auto; float:left; display:block;}
.culture ul li.desc a{ color: #5E5E5E; height:auto; margin:0; width:224px; background:url(/images/adoption/libg.jpg) 0px 11px no-repeat; padding:4px 0px 4px 10px; display:block; border-bottom:1px dashed #a59f9f;}
.culture ul li.desc a:hover{ color:#FF0000;text-decoration:underline;}


.questions{ width:100%; height:auto; float:left; margin-top:20px;}
.ques-menu{ width:100%; height:42px; float:left; background:#e6e6e6;}
.ques-menu ul{ width:100%; height:auto; float:left;}
.ques-menu ul li{ width:190px; line-height:42px; float:left; font-size:15px; display:block; color:#212121; text-align:center; font-weight:bold; cursor:pointer; margin-right:3px;}
.ques-menu ul li.dq,.ques-menu ul li:hover{ background:#fff; color:#8c4600;}
.trip-questuon,.common-questuon{ width:636px; min-height:320px; float:left; background:#fff; padding:15px 10px 15px 20px; color:#333333; line-height:18px; position:relative;}
.common-questuon{padding:5px 10px 15px 20px;}
.tripleft{ width:100%; height:auto; float:left;}
/* .tripleft{ width:356px; height:auto; float:left;}  */
.answer{ width:100%; height:auto; float:left;}
.answer ul{ width:100%; height:auto; float:left; margin-top:10px;}
.answer ul.ff{ width:356px; min-height:305px; float:left; margin-top:10px;}
.answer ul.ff li{ width:302px; height:auto; float:left; display:block; background:url(/images/citytours/hi.jpg) left top no-repeat; padding:0px 0px 5px 54px;}
.answer ul li{ width:582px; height:auto; float:left; display:block; background:url(/images/citytours/hi.jpg) left top no-repeat; padding:0px 0px 5px 54px; color:#8c4600;}
.answer ul li.advisor,.answer ul.ff li.advisor{background:url(/images/citytours/advisor.jpg) left top no-repeat; color:#333;}
/* .answer ul li span{ color:#8c4600;}  */
.pager{ color:#1C1A1B; float:left; height:auto; margin-top:20px; padding-bottom:20px; text-align:center; width:100%;}
.pager ul{ width:100%; height:auto; float:left; text-align:center; padding:0px; border:none;}
.pager ul li{ height:22px; display:inline; margin:0px 4px; background:none; float:none; padding:0px;}
.pager ul a:link,.pager ul a:visited{ border:solid 1px #d18f2f; color:#0e509e;  padding:0px 6px; text-decoration:none; background:#fff; color:#d18f2f; display:inline-block; line-height:22px;}
.pager ul .page a{font-weight:normal;}
.pager ul a:hover{background:#d18f2f; color:#fff;}
.pager ul .selected a{ background:#d18f2f; color:#fff;}
.pager ul .hidden a{border:solid 1px #DEDEDE; color:#888888;}
.pager ul .first,.pager ul .last{display:none;}

.tripright{ width:270px; height:290px; float:right; background:#dddddd; padding:7px 0px 10px 0px; position:absolute; top:15px; right:10px;}
.tripright h2{ width:100%; height:34px; background:#095ab7; color:#fff; font-size:16px; font-weight:normal; line-height:34px; text-align:center; display:block; float:left;}
.tripright table{ width:250px; height:auto; margin:4px auto;}
.tripright table tr td{ padding:5px 0px; color:#515151;}
.tripright table tr td input{ border:1px solid #b5b5b5; width:168px; float:right;}
.tripright table tr td span{ float:left;}
.tripright table tr td textarea{ width:248px; height:90px; border:1px solid #b5b5b5;}


#adoptionright{ width:240px; height:auto; float:right; margin-top:20px; -webkit-text-size-adjust:none;}
.tripcode{ width:100%; height:auto; float:left;}
.links{ width:100%; height:auto; float:left; margin-top:10px;}
.links a{ width:35px; height:34px; display:block; float:left; margin-right:28px;}

#left{ width:220px; height:auto; float:left; margin-top:15px;}
#search{ width:100%; height:auto; float:left;}
.searchcont{ width:205px; height:auto; float:left; background:#fff; border:5px solid #8c4600; padding:8px 0px 3px 5px;}
.searchcont table tr td{ padding:3px 1px;}
.searchcont table tr td ul{ width:205px; height:auto;}
.searchcont table tr td ul li{ display:inline-block; padding:3px 5px 3px 0px; float:left; width:auto;}
.searchcont table tr td select{ width:200px; border:1px solid #999999; height:22px; line-height:22px; font-family:Verdana, Arial, Helvetica, sans-serif;}
.searchcont table tr td span#more_index{ text-decoration:underline; cursor:pointer;}
.searchcont table tr td a{ text-decoration:underline; color:#8c4600;}
.searchcont table tr td a:hover{ text-decoration:none; color:#000;}
#guide{ width:100%; height:auto; float:left; margin-top:20px;}
.guidecont{ width:200px; height:auto; float:left; background:#fff; border:2px solid #8c4600; padding:0px 8px 10px 8px;}
.guidecont ul{ width:100%; height:auto; float:left;}
.guidecont ul li.bigdq{ width:185px; height:auto; float:left; background:url(/images/adoption/down.jpg) right center no-repeat; padding:8px 15px 8px 0px; border-bottom:1px solid #bcb9b9; font-size:14px; color:#000; cursor:pointer; display:block;}
.guidecont ul li.big{ width:185px; height:auto; float:left; background:url(/images/adoption/left.jpg) right center no-repeat; padding:8px 15px 8px 0px; border-bottom:1px solid #bcb9b9; font-size:14px; color:#000; cursor:pointer; display:block;}
.guidecont ul li ol{ width:192px; height:auto; float:left; display:block; background:#eee; padding:0px 4px 10px 4px; margin-top:1px;}
.guidecont ul li ol li{ width:190px; height:auto; float:left; display:block; border-bottom:1px dashed #868484; padding:6px 0px 6px 2px;}
.guidecont ul li ol li a{ color:#666666; line-height:14px;}
.guidecont ul li ol li a:hover,.guidecont ul li ol li a.dq{ color:#8c4600; text-decoration:underline;}

#customize{ width:100%; height:auto; float:left; margin-top:20px;}
.types{ width:100%; height:auto; float:left; margin-top:20px;}
.types ul{ width:212px; height:auto; float:left; border:2px solid #8c4600; padding:2px; border-top:none; background:#fff;}
.types ul li{ width:192px; height:24px; float:left; display:block; background:url(/images/index/bg.png) -510px -96px no-repeat; padding-left:20px; margin-bottom:2px;}
.types ul li a{ display:block; background:#eee; line-height:24px; padding-left:8px; width:184px; color:#666;}
.types ul li a:hover{ color:#8c4600; text-decoration:underline;}
#left .links{ margin:20px 0px;}
#left .links a{ margin-right:26px;}

#right{ width:680px; height:auto; float:right; margin-top:15px;}
.caption{background:url(/images/adoption/ulbottom.jpg) #dddddd bottom center repeat-x; border:1px solid #d3d3d3; border-bottom:none; border-top:none; padding:10px; width:658px; height:auto; float:left; color:#222222; line-height:18px;}

#adoption-right{ width:662px; border:1px solid #c6c6c6; background:#fff; overflow:hidden; float:left; padding:5px 8px 20px 8px; color:#666666; margin-top:20px;}
#right .province{ width:680px; margin-top:20px; float:left;}
#right .province h2{width:665px; height:38px; float:left; padding-left:15px; display:block; background:#8c4600; color:#fff; font-size:18px; line-height:38px; font-weight:normal;}
#right .province ul{ width:652px; height:auto; float:left; padding:0px 13px 15px 13px; border-left:1px solid #c1c1c1; border-right:1px solid #c1c1c1; background:url(/images/adoption/ulbottom.jpg) left bottom repeat-x;}
/* #right .province ul li{ width:155px; height:auto; float:left; border-bottom:1px dashed #a59f9f; padding:7px 0px 7px 8px; background:url(/images/adoption/abg.jpg) left center no-repeat;}  */
#right .province ul li{ width:147px; height:auto; float:left; display:block; border-left:5px solid #d1d1d1; margin:5px 0px; background:none; padding:3px 0px 3px 8px;}

#right .province ul li a{ color:#555555; font-size:14px; white-space:nowrap;}
#right .province ul li a:hover{ color:#000; text-decoration:underline;}


.text,.text1,.text2,.text5{ width:100%; height:auto; float:left; line-height:18px;}
.text2{ color:#727272;}
.text p,.text1 p,.text5 p{ padding:3px 0px;}
.text2 p{ padding:8px 0px;}
.text span,.text a{ color:#b16646;}
.text a{ text-decoration:underline;}
.text a:hover{ text-decoration:none; color:#000;}
.text h2,.text5 h2{ color:#000; font-size:15px; text-align:center; display:block; width:100%; line-height:24px;}
.text5 h2{ font-size:18px; text-align:left;}
.text2 span{ color:#b15f00; font-size:15px; text-align:center; line-height:30px; font-weight:bold;}
.text2 img{ border:1px solid #e2e2e2; margin-right:10px; float:left; margin-top:12px;}
.text5 img{ float:right; margin-left:5px;}
.list1{ width:654px; height:auto; float:left; background:url(/images/adoption/list1.jpg) #fff left bottom repeat-x; border:1px solid #e8e8e8; padding:4px 0px 6px 6px; margin-top:10px;} 
.list1 ul{ float:left; height:auto; width:185px; }
.list1 ul.two{ width:230px;}
.list1 ul li{ width:168px; padding:4px 0px 4px 17px; color:#505050; display:block; float:left; background:url(/images/adoption/libg.png) left center no-repeat;}
.list1 ul.two li{ width:213px;}
.city-table{ width:100%; height:auto; float:left; margin-top:20px;}
.city-table table{ border:1px solid #cecece; width:100%; height:auto; float:left; border-top:none; border-left:none;}
.city-table table tr.top{ background:#fff9e2;}
.city-table table tr td.small{ padding:0px;}
.city-table table tr td{ border:1px solid #cecece; border-bottom:none; border-right:none; padding:3px 10px;}
.city-table table tr td.center{ text-align:center;}
.city-table table tr td a{ display:block; text-decoration:underline; line-height:24px; color:#666666;}
.city-table table tr td a:hover{ color:#ff0000; text-decoration:none;}
.city-table table tr td a:visited{ color:#878480;}
#adoption-right .title{ width:660px; height:26px; float:left; line-height:26px; border:1px solid #dcdcdc; background:#e46c37; color:#fff; font-size:15px; font-weight:bold; text-align:center; margin-top:25px;}
.fast{ width:660px; height:auto; float:left; margin-top:6px; border:1px solid #cecece; padding-bottom:10px;}
.fast h2{ font-size:15px; color:#a43500; display:block; width:100%; margin-top:10px;}
.fast h3{ color:#383737; font-size:12px; width:100%; display:block; margin-top:5px;}
.fast table tr td{ padding:4px 0px 4px 8px;}
.fast table tr td.nopadding{ padding:0px;}
.fast table tr td select{ color:#5a5a5a;}
.confirm{ width:100%; height:auto; float:left; border-top:1px solid #cecece; margin-top:15px;}
.confirm table{ width:100%; height:auto; float:left;}
.confirm table tr td{ line-height:22px;}
.confirm table tr td input{ width:252px; height:20px; background:#fff; border:1px solid #7f9db9; line-height:20px;}
.confirm table tr td input.name{ width:202px; float:left;}
.confirm table tr td input.date{ background:url(/images/adoption/datePicker.gif) right center no-repeat; width:260px;}
.confirm table tr td span{ color:#ff6600;}
.confirm table tr td textarea{ width:630px; height:100px; color:#8a8a8a; margin-top:3px; padding:5px;}
.confirm .button{ background:url(/images/newhomepage/secure.jpg) right center no-repeat; width:450px;}
.confirm .button input{ background:url(/images/newhomepage/confirm-submit-button.jpg) no-repeat; width:189px;height:37px;border:0px;cursor:pointer;}
.confirm .button span{display: block; line-height: 18px; margin: 0; padding: 2px; color:#000000;}

.picture{ width:654px; height:auto; float:left; border:4px solid #cbcbcb; margin-top:5px;}
.list2{ width:100%; height:auto; float:left; margin-top:8px;}
.list2 ul{ width:100%; height:auto; float:left;}
.list2 ul li{ width:33%; height:auto; float:left; display:block; padding:4px 0px;}
.list2 ul li a{ color:#5b5b5b; text-decoration:underline;}
.list2 ul li a:hover{ text-decoration:none; color:#000;}
.text img{ float:left; margin-right:8px; margin-top:5px;}
.recommended{ width:647px; height:auto; float:left; border:1px solid #dddddd; background:url(/images/adoption/rbg.jpg) #fff left bottom repeat-x; padding:6px 10px 0px 3px; margin-top:10px;}
.rleft{ width:268px; float:left; margin-top:15px; background:url(/images/adoption/rbg.png) left bottom no-repeat; padding-left:12px;}
.rleft h2{ font-size:15px; display:block; width:100%; height:auto; float:left; line-height:20px;}
.rleft h2 a{ color:#a55c08;}
.rleft h2 a:hover{ text-decoration:underline; color:#000;}
.rleft ul{ width:100%; height:auto; float:left;}
.rleft ul li{ width:100%; height:auto; float:left; padding:4px 0px;}
.rleft ul li.name a{ color:#3b3a3a; text-decoration:underline; font-size:11px;}
.rleft ul li.city{ background:url(/images/adoption/city.png) left center no-repeat; padding-left:14px; width:254px; font-size:11px; color:#5e5d5b;}
.rleft ul li.name a:hover{ color:#ff0000; text-decoration:none;}
.rleft ul li.reviews a{ color:#a55c08; float:left;}
.rleft ul li.reviews a:hover{ text-decoration:underline; color:#000;}
.rleft ul li.reviews span{ float:right; font-size:11px; color:#605f5e;}
.rleft ul li.reviews span b{ color:#ff0000;}
.rright{ width:340px; float:right; border-left:1px solid #e1ded2; padding-left:18px; margin-bottom:6px;}
.rright h2{font-size:15px; display:block; width:100%; height:auto; float:left; line-height:26px; color:#a55c08;}
.rright ul{ width:100%; height:auto; float:left; padding-bottom:10px;}
.rright ul li{ color:#535353; padding:3px 0px 3px 18px; width:322px; display:block; float:left; border-bottom:1px dashed #a7a6a1; background:url(/images/newhomepage/rone.jpg) left center no-repeat;}
.rright ul li.rtwo{background:url(/images/newhomepage/rtwo.jpg) left center no-repeat;}
.rright ul li.rthree{background:url(/images/newhomepage/rthree.jpg) left center no-repeat;}
.rright ul li.rfour{background:url(/images/newhomepage/rfour.jpg) left center no-repeat;}
.anhui{ width:660px; height:auto; float:left; margin-top:20px; border:1px solid #dfdfdf; background:#fcfbf6; overflow:hidden; padding-top:10px;}
.anhui ul{ width:100%; height:auto; float:left;}
.anhui ul li{ width:308px; height:auto; float:left; padding:0px 12px 10px 10px;}
.anhui ul li a{ width:100%; height:auto; float:left; display:block;}
.anhui ul li a h2{ width:100%; height:auto; float:left; display:block; color:#222121; font-size:15px; text-align:center; line-height:24px; margin-bottom:4px;}
.anhui ul li a img{ width:100%; height:95px; display:block; float:left;}
.list3{ width:646px; height:auto; float:left; margin-top:20px; border:1px solid #dfdfdf; padding:3px 0px 8px 14px;}
.list3 ul{ width:100%; height:auto; float:left;}
.list3 ul li{ width:24%; height:auto; float:left; display:block; padding:4px 0px;}
.list3 ul li a{ color:#5b5b5b; text-decoration:underline;}
.list3 ul li a:hover{ text-decoration:none; color:#000;}
.text1{ border-bottom: 1px dotted #CCCCCC; padding-bottom:6px;}
.text1 h2{ color:#000; font-size:18px; text-align:center; display:block; width:100%; line-height:30px; border-bottom: 1px dotted #CCCCCC; float:left;}
.text1 h3{ color:#7e7e7e; font-size:11px; font-weight:normal; line-height:26px; border-bottom: 1px dotted #CCCCCC; width:100%; display:block; float:left; height:26px;}
.text1 h3 span{ float:left;}
.text1 h3 a{ float:right; padding-top:5px;}
.text1 table{ width:100%; height:auto; float:left; padding-top:3px;}
.text1 table tr td{ padding:3px 0px; color:#7e7e7e; font-size:11px;}
.text1 table tr td input.button {background: url(/images/adoption/rate.jpg) left center no-repeat; width:38px; border:none; cursor: pointer; height: 19px;}
.text1 p img{ border:1px solid #e5e5e5; padding:4px; float:left; margin-right:10px; margin-top:5px;} 
.anhui2{ width:660px; height:auto; float:left; margin-top:20px; border:1px solid #dfdfdf; background:url(/images/adoption/anhui2.jpg) #fff left bottom repeat-x; overflow:hidden;}
.anhui2 ul{ width:100%; height:auto; float:left;}
.anhui2 ul li{ width:auto; height:auto; float:left; padding:10px 0px 10px 6px;}
.anhui2 ul li a{ width:100%; height:auto; float:left; display:block;}
.anhui2 ul li a h2{ width:100%; height:auto; float:left; display:block; color:#374f01; font-size:12px; text-align:center; line-height:26px;}
.anhui2 ul li a img{ width:100%; display:block; float:left;}

.recommend-menu{ width:100%; height:32px; float:left; border-bottom:2px solid #efc38f; margin-top:15px;}
.recommend-menu ul{ width:100%; height:auto; float:left;}
.recommend-menu ul li{ width:235px; height:32px; float:left; margin-right:6px; background:url(/images/adoption/menuli.png) left center no-repeat; color:#492e0e; text-align:center; font-size:14px; font-weight:bold; line-height:32px; cursor:pointer; display:block;}
.recommend-menu ul li:hover,.recommend-menu ul li.dq{background:url(/images/adoption/menulih.png) left center no-repeat; color:#fff;}
.things{ width:100%; height:auto; float:left; color:#636363; line-height:18px;}
.things h2{ font-size:14px; color:#383838; display:block; width:100%; line-height:24px; margin-top:10px;}
.things span{ color:#b16646;}
.tours{ width:100%; height:auto; float:left; padding-top:10px;}
.title1{ width:639px; height:auto; float:left; padding-left:23px; background:url(/images/adoption/star.png) left center no-repeat; color:#9b4521; line-height:24px;}
.title1 a{ color:#9b4521; font-weight:bold; text-decoration:underline; font-size:14px;}
.title1 a:hover{ color:#000; text-decoration:none;}
.tours ul{ width:100%; height:auto; float:left; padding:8px 0px 25px 0px; color:#535353;}
.tours ul li{ float:left; display:block;}
.tours ul li.pic{ width:175px; height:148px; margin-right:10px; border:1px solid #cccccc;}
.tours ul li.pic img{ width:175px; height:148px;}
.tours ul li ol{ width:475px; height:auto; float:left;}
.tours ul li ol li.describe{ line-height:18px; padding-left:0px; width:100%; background:none; padding-top:0px;}
.tours ul li ol li{ background:url(/images/adoption/ollibg.png) left center no-repeat; padding:4px 0px 4px 11px; width:464px;}
.tours ul li ol li a{ max-width:338px; height:auto; float:left; text-decoration:underline; color:#555454;}
.tours ul li ol li a:hover{ text-decoration:none; color:#000;}
.tours ul li ol li span{ float:right; max-width:124px; font-size:11px; color:#808080;}
.tours ul li ol li span strong{ color:#ff0000; font-size:13px;}

.china-guide{ width:649px; height:auto; float:left; padding:0px 4px 0px 7px; border:1px solid #e3e3e3;}
.guide{ width:100%; height:auto; float:left; background:url(/images/adoption/guide.png) right center no-repeat;}
.text3{ width:293px; height:auto; float:left; padding:30px 0px; border-right:1px solid #e5e2d8; line-height:18px;}
.text3 h2{ color:#242423; display:block; width:100%; font-size:15px; line-height:26px;}
#culture{ width:100%; height:auto; float:left; margin-top:10px;}
#culture h2,.travel h2{ width:100%; height:auto; float:left; display:block; color:#000000; font-size:15px; line-height:24px;}
#culture ul{ width:100%; height:auto; float:left;}
#culture ul li{ width:199px; height:auto; float:left; margin-right:20px; background:#f7f7f7; padding:3px; margin-bottom:12px; display:block; border:1px solid #d5d5d5;}
#culture ul li img{ width:199px; height:56px;}
#culture ul li span{ width:100%; height:auto; display:block; color:#313131; line-height:20px; text-align:center;}
.travel{ width:100%; height:auto; float:left; margin-top:10px;}
.travel ul{ width:100%; height:auto; float:left; margin-top:10px;}
.travel ul li{ padding:2px; background:url(/images/adoption/travel.jpg) #fff left bottom repeat-x; width:199px; height:auto; border:1px solid #d5d5d5; margin-right:20px; float:left; padding-bottom:10px;}
.travel ul li img{ width:199px; height:213px; margin-bottom:6px;}
.travel ul li span{width:100%; height:auto; display:block; color:#313131; line-height:16px; text-align:center;}
.text4{ width:646px; border:1px solid #e0e0e0; height:auto; float:left; padding:7px; margin-top:10px; line-height:18px;}
.text4 h2{ color:#a43500; font-size:16px; display:block; width:100%; line-height:24px;}
.text4 span{ display:block; margin-bottom:15px;}
.text4 p{ padding-bottom:5px;}







.more-indexcont h2 span#close-index{cursor: pointer; float: right; padding: 5px 10px 4px 0;}
.more-indexcont { position:absolute; background:#FBE5CD; height: auto; left: 450px; padding: 7px; top:320px; width: 565px; z-index: 9999;}
.list-city{ width:543px; height:auto; float:left; border:1px solid #d7d7d7; padding:5px 10px 10px 10px; background:#f5e8d2; border-top:none;}
.more-indexcont h2{ display:block; border-bottom:1px solid #ccc; line-height:24px; font-size:12px; width:560px; margin:0px; padding:0px; height:28px; background:#d38400; font-weight:normal; color:#fff; padding-left:5px;}
.more-indexcont h2 b{ float:left;}

.more-indexcont h2 span#close-none{ float:right; padding:5px 10px 4px 0px; cursor:pointer;}
.list-city h3{ width:100%; height:auto; float:left; line-height:25px; color:#b67600; font-size:13px; font-weight:normal; margin:0px; padding:0px;}
.list-city ul{ width:100%; height:auto; float:left; margin:0px; padding:4px 0px; border-bottom:1px dashed #b0afad; border-top:1px dashed #b0afad; margin-bottom:5px;}
.list-city ul label{ cursor:pointer;}
.list-city ul li{ width:17%; white-space:nowrap; float:left; list-style:none; color:#4c4c4c; margin:0px 5px 2px 0px; padding:2px 5px 2px 3px;height:18px; line-height:18px;}
.confirm{ width:100%; height:auto; float:left; padding:3px 0px 8px 0px;}
.confirm textarea{ width:450px; height:78px; float:left; border:1px solid #cdcdcd;}
.confirm span{ float:right; width:74px;}
.confirm span a{ width:74px; height:31px; display:block;}

.middle{ width:654px; height:auto; float:left; margin-top:20px; border:1px solid #c6c6c6; background:#fff; padding:5px;}
.middleleft{ width:252px; height:528px; float:left; border:1px solid #c6c6c6; background:#fff;}
.middleright{ width:396px; height:528px; border:1px solid #c6c6c6; background:#fff; float:right;}
.latest{ width:100%; height:auto; float:left; margin-top:20px;}
.latestlist{ width:644px; height:auto; float:left; padding:0px 10px 10px 10px; border:1px solid #c6c6c6; border-top:none;}
.latestlist ul{ width:100%; height:auto; float:left; padding:15px 0px; border-bottom:1px dashed #a59f9f;}
.latestlist ul li.pic{ width:152px; height:85px; background:#fff; border:1px solid #c1c1c1; padding:3px; margin-right:10px;}
.latestlist ul li.pic a{ padding:0px;}
.latestlist ul li.pic img{ width:152px; height:85px;}
.latestlist ul li{ width:472px; height:auto; float:left; display:block; color:#666666; line-height:16px;}
.latestlist ul li a{ display:block; color:#000000; text-decoration:underline; padding-bottom:2px;}
.latestlist ul li a:hover{ color:#ff0000; text-decoration:none;}
.latestlist ul li a.more{ display:inline-block; padding-left:5px; text-decoration:none; padding:0px;}
.latestlist ul li span{ display:block; color:#8c4600;}

.why{ width:218px; height:auto; float:left; background:#8c4600; padding:11px 11px 30px 11px;}
.why h2{ width:100%; height:auto; display:block; float:left;}
.why ul{ width:100%; height:auto; float:left; margin-top:5px;}
.why ul li{ width:180px; height:auto; float:left; display:block; border-bottom:1px dashed #ffffff; background:url(/images/adoption/whyli.png) 0px 10px no-repeat; color:#fff; font-size:14px; padding:8px 0px 8px 38px;}

.customize{ width:658px; height:auto; float:left; border:1px solid #cdcdcd; background:#fff; padding:3px;}
.cust-text{ width:640px; height:auto; float:left; padding:9px 9px 0px 9px; background:#e3e3e3; line-height:18px;}
.cust-text h2{ width:616px; height:auto; float:left; display:block; color:#8c4600; padding-left:24px; background:url(/images/adoption/custh2.jpg) left center no-repeat; font-size:18px; font-weight:normal; line-height:26px;}
.cust-text ul{ width:100%; height:auto; float:left; margin-top:5px;}
.cust-text ul li{ width:139px; height:106px; float:left; display:block; margin-right:25px; padding-top:5px;}
.cust-text ul li.lastli{margin-right:0px;}
.cust-text ul li img{ width:139px; height:76px; display:block; float:left;}
.cust-text ul li span{ width:100%; float:left; color:#666666; font-size:11px; padding:2px 0px; line-height:14px;}
.cust-text ul li.button{ padding-left:10px; margin-right:0px; padding-top:15px;}
.cust-text ul li.button img{ width:164px; height:74px;}
.cust-text ul li a:hover span{ color:#000;}




.homeland{ width:218px; height:auto; float:left; background:#fff; padding-right:1px; border-right:1px solid #cccccc;}
.homeland ul{ width:100%; height:auto; float:left;}
.homeland ul li.homelandtitle{ width:100%; height:40px; padding:0px;}
.homeland ul li{ width:176px; line-height:35px; height:35px; background:#dddddd; padding:0px 21px; border-bottom:1px solid #fff;}
.homeland ul li a{background:url(/images/top10/abg.png) right center no-repeat; width:100%; height:auto; display:block; color:#525252;}
.homeland ul li a:hover{ color:#8c4600; text-decoration:underline;}
.latestnew{ width:100%; height:auto; float:left; margin-top:20px;}
.latesttitle{ width:100%; height:auto; float:left;}
.latestcont{ width:198px; height:auto; float:left; background:#dddddd; border:1px solid #ccc; border-top:none; padding:10px 10px 0px 10px;}
.latestcont ul{ width:100%; height:auto; float:left; margin-bottom:8px;}
.latestcont ul li{ width:100%; height:auto; float:left; display:block; padding:2px 0px; color:#646060;}
.latestcont ul li.pic{ width:192px; height:118px; background:#fff; border:1px solid #ccc; padding:2px;}
.latestcont ul li a{ color:#111; text-decoration:underline; line-height:14px;}
.latestcont ul li a:hover{ text-decoration:none;}
.latestcont ul li.desc a{ text-decoration:none;}
.latestcont ul li.desc a:hover{ text-decoration:underline;}
.whynew{ width:198px; height:auto; float:left; background:#8c4600; padding:11px 11px 30px 11px; margin-top:20px;}
.whynew h2{ width:100%; height:auto; display:block; float:left;}
.whynew ul{ width:100%; height:auto; float:left; margin-top:5px;}
.whynew ul li{ width:167px; height:auto; float:left; display:block; border-bottom:1px dashed #ffffff; background:url(/images/adoption/whylinew.png) 0px 10px no-repeat; color:#fff; font-size:12px; padding:8px 0px 8px 31px;}

/*  2013-10-15  */
.textnew{ width:900px; height:auto; float:left; background:#dddddd; padding:6px 10px 10px 10px; margin-top:15px; color:#525252; line-height:18px;}
.textleft{ width:660px; height:auto; float:left; color:#525252; line-height:18px;}
.textleft a{ color:#8c4600; text-decoration:underline;}
.textleft a:hover{ color:#ff0000; text-decoration:none;}
.textleft h2{ color:#8c4600; font-size:18px; line-height:28px; display:block;}
.textnew span{ display:block; color:#000000; margin-top:6px; cursor:pointer; font-weight:bold;}
.callbutton{ width:216px; height:auto; float:right; padding-top:20px;}
.mapcont{ width:552px; height:auto; float:left; padding:0px 86px 15px 26px; border-left:1px solid #c1c1c1; border-right:1px solid #c1c1c1; background:url(/images/adoption/ulbottom.jpg) #fff left bottom repeat-x;}
#map{background: url(/images/chinaGuide/map.gif) no-repeat top center; height:447px; width: 552px;}
#map h3{display: block; font-weight: normal; position: absolute; font-size:12px;}
.mapl a{ background: url(/images/chinaGuide/maph2.gif) no-repeat left center; color: #000000; display: block; text-decoration: none; padding-left:20px;}
.mapr a{ color: #000000; display: block; text-decoration: none; padding-right: 20px; background: url(/images/chinaGuide/maph2.gif) no-repeat right center;}
.mapb a{ color: #000000; display: block; text-decoration: none; padding-bottom: 20px; background: url(/images/chinaGuide/maph2.gif) no-repeat bottom center;}
.mapl a:hover{ background: url(/images/chinaGuide/maph3.gif) no-repeat left center; color: #220cfb; font-weight:bold; display: block; padding-left: 20px;}
.mapr a:hover{ background: url(/images/chinaGuide/maph3.gif) no-repeat right center; color: #220cfb; font-weight:bold; display: block; padding-right: 20px;}
.mapb a:hover{ background: url(/images/chinaGuide/maph3.gif) no-repeat bottom center; color: #220cfb; font-weight:bold; display: block; padding-bottom: 15px;}

/*   .province1 ul{ width:194px; height:238px; float:left; padding:8px; border:1px solid #cccccc; background:#fff; margin-top:8px; margin-right:14px;}
.province1 ul li{ width:100%; color:#999999; height:auto; float:left; padding:3px 0px; font-size:11px; line-height:14px;}
.province1 ul li a{ color:#333333; font-size:13px; font-weight:bold;}
.province1 ul li span{ color:#b20000;}
.province1 ul li strong{ color:#b20000; font-size:15px;}
.province1 ul li a:hover{ color:#000; text-decoration:underline;}  */

.onecont,.twocont{ width:308px; height:208px; float:left; background:#eeeeee; padding:6px 8px 10px 8px;}
.threecont{ width:638px; height:auto; float:left; background:#eeeeee; padding:6px 8px 10px 8px; margin-top:5px;}
.twocont{ float:right;}
.onecont h2,.threecont h2{ display:block; width:100%; line-height:20px; font-size:15px; color:#333333;}
.onecont ul,.twocont ul,.threecont ul{ width:100%; height:auto; float:left;}
.onecont ul li,.twocont ul li{background:url(/images/adoption/libg.jpg) 0px 11px no-repeat; padding:4px 0px 4px 11px; display:block; border-bottom:1px dashed #a59f9f; width:297px; height:auto; float:left;}
.twocont ul li.pic{ background:none; padding:4px 0px; border:none;}
.onecont ul li a,.twocont ul li a,.threecont ul li a{ color:#5e5e5e; line-height:18px;}
.onecont ul li a:hover,.twocont ul li a:hover,.threecont ul li a:hover{ color:#000; text-decoration:underline;}
.threecont ul li{background:url(/images/adoption/libg.jpg) 0px 11px no-repeat; padding:4px 0px 4px 8px; display:block; border-bottom:1px dashed #a59f9f; width:338px; height:auto; float:left; white-space:nowrap; margin-right:14px;}
.threecont ul li.smallli{ width:270px; margin-right:0px;}
.quick{ width:234px; height:auto; float:left; background:url(/images/adoption/planning.jpg) left top no-repeat; padding:63px 0px 0px 6px; margin-top:20px;}
.quick h2{ display:none;}
.feedback{ width:218px; height:auto; float:left; background:#dad9d9; padding:0px 8px 10px 8px;}
.feedback table{ width:100%; height:auto;}
.feedback table tr td{ padding:2px 0px; color:#515151;}
.feedback table tr td input{ border:1px solid #b5b5b5; width:135px; float:right;}
.feedback table tr td span{ float:left;}
.feedback table tr td textarea{ width:216px; height:90px; border:1px solid #b5b5b5;}


