@charset "utf-8";
/* CSS Document */
body{ width:100%; height:auto; margin:0px; padding:0px;  background:url(/images/newindex/bg.jpg) repeat-x;}
*{ margin:0px; padding:0px;}
li{ list-style:none;}
img{ border:none;}
.clear{ width:0px; height:0px; line-height:0px; font-size:0px; clear:both;}
a{ text-decoration:none;}



.index{ width:920px; height:auto; margin:0px auto;}
#menu-tours {background:#D6D6D6; color:#444444; float:left; height:26px; line-height:26px; margin-bottom:10px; padding-left:10px; width:910px;}
#menu-tours a{background: url(/templates/jv_news_ii//images/arrow.png) no-repeat right center; color:#2487D2; padding-right:15px;}
#menu-tours a:hover{ color:#000000; text-decoration:underline;}
#tulou{ width:898px; height:auto; background:#fff; overflow:hidden; border:1px solid #ccc; padding:5px 10px 10px 10px; margin-top:5px; float:left;}
.text{ width:100%; height:auto; float:left; color:#525252; line-height:18px;}
.text h2{ color:#8c4600; font-size:20px; line-height:34px; display:block; width:100%;}
.tulou_list{ width:100%; height:auto; float:left; margin:15px 0px 10px 0px; position:relative;}
.tulou_banner{ width:100%; height:352px; float:left;}
.tulou_tours{ width:350px; height:250px; position:absolute; left:30px; bottom:0px; background:url(/images/tulou/span.png) no-repeat; padding:10px 20px 0px 20px;}
.tulou_tours ul{ width:100%; height:auto; float:left;}
.tulou_tours ul li{ width:100%; height:auto; float:left; display:block; color:#111; line-height:20px; padding:4px 0px;}
.tulou_tours ul li a{ font-size:18px; font-weight:bold; text-shadow:1px 1px 1px #fff; color:#111;}
.tulou_tours ul li.button a{ width:150px; height:35px; float:left; display:block;}