.menusys_submoo {
}

#menusys_submoo {
	margin: 0;
	padding: 0;
	float: left;
}

#menusys_submoo ul {
	margin: 0; 
	padding: 0;
}

#menusys_submoo li {
	margin: 0; 
	padding: 0 2px 0 0;
	float: left;
	display: block;
	background: none;
	cursor: pointer;
	background: url(../../images/bg-mainmenu-seperator.jpg) repeat-y right;
}
#menusys_submoo li a {
	padding:0 15px;
	display: block;
	line-height: 35px;
	text-decoration: none;
	text-shadow: 0 1px 0 #A50000;
}
#menusys_submoo li a span {
	color: #FFF;
	font-size: 110%;
	font-weight: bold;
	display: block;
}

#menusys_submoo li a.active,
#menusys_submoo li a.active:hover,
#menusys_submoo li a.active:active,
#menusys_submoo li a.active:focus {
	color: #C30204;
	text-shadow: 0 1px 0 #FFF;
	background:url(../../images/bg-mainmenu-active.jpg) repeat-x top;
}
#menusys_submoo li a.active span,
#menusys_submoo li a.active:hover span,
#menusys_submoo li a.active:active span,
#menusys_submoo li a.active:focus span {
	color: #C30204;
	display:block;
}

#menusys_submoo li:hover a,
#menusys_submoo li.hover a,
#menusys_submoo li a:hover,
#menusys_submoo li a:active,
#menusys_submoo li a:focus {
   background:url(../../images/bg-mainmenu-hover.jpg) repeat-x top;
}
#menusys_submoo li a:hover span,
#menusys_submoo li a:active span,
#menusys_submoo li a:focus span,
#menusys_submoo li:hover a span,
#menusys_submoo li.hover a span { 
	color: #fff;
	display:block;
}
/* Style for sub menu */
#menusub_submoo {
	margin: 0;
	padding: 0;
	float: left;
	height: 30px;
	display: block;
}
#menusub_submoo li {
	margin: 0 5px 0 0; 
	padding: 0;
	float: left;
	display: block;
	background: none;
	cursor: pointer;
}
#menusub_submoo li a {
	padding: 5px 0;
	display: block;
	color: #961C1C;
	text-decoration: none;
	line-height: 20px;
}
#menusub_submoo li a span {
	padding: 0 10px;
	line-height: 20px;
	display: block;
	border: none;
	color: #961C1C;
}
#menusub_submoo li a.active span,
#menusub_submoo li a:hover span,
#menusub_submoo li a:active span,
#menusub_submoo li a:focus span,
#menusub_submoo li:hover a span,
#menusub_submoo li.hover a span {
	color: #FFF;
	background: #afafaf;
}
#menusub_submoo li a.active span,
#menusub_submoo li a:hover span,
#menusub_submoo li a:active span,
#menusub_submoo li a:focus span,
#menusub_submoo li:hover a span,
#menusub_submoo li.hover a span {  
	color: #FFF;
}
#menusub_submoo li ul {
	width: 16.9em;
	position: absolute;
	z-index: 99;
	left: -999em; 
	height: auto;
	margin: 0;
}
#menusub_submoo li ul ul {
	margin: -28px 0 0 16.9em;
}
#menusub_submoo li li {
	padding: 0;
	line-height: 24px;
	margin: 0;
	width: 16.9em;
}
#menusub_submoo ul a {
}

#menusub_submoo li:hover ul ul, #menusub_submoo li:hover ul ul ul,
#menusub_submoo li.hover ul ul, #menusub_submoo li.havechildhover ul ul, #menusub_submoo li.havechild-activehover ul ul, #menusub_submoo li.activehover ul ul,
#menusub_submoo li.hover ul ul ul, #menusub_submoo li.havechildhover ul ul ul, #menusub_submoo li.havechild-activehover ul ul ul, #menusub_submoo li.activehover ul ul ul {
	left: -999em;
}

#menusub_submoo li:hover ul, #menusub_submoo li li:hover ul, #menusub_submoo li li li:hover ul,
#menusub_submoo li.hover ul, #menusub_submoo li.havechildhover ul, #menusub_submoo li.havechild-activehover ul, #menusub_submoo li.activehover ul,
#menusub_submoo li li.hover ul, #menusub_submoo li li.havesubchildhover ul, #menusub_submoo li li.havesubchild-activehover ul, #menusub_submoo li li.activehover ul,
#menusub_submoo li li li.hover ul, #menusub_submoo li li li.havesubchildhover ul, #menusub_submoo li li li.havesubchild-activehover ul, #menusub_submoo li li li.activehover ul {
	left: auto;
}

#menusub_submoo li:hover a.active span,
#menusub_submoo li a:hover span,
#menusub_submoo li a:active span,
#menusub_submoo li a:focus span,
#menusub_submoo li a.active:hover span,
#menusub_submoo li a.active:active span,
#menusub_submoo li a.active:focus span,
#menusub_submoo li:hover a span,
#menusub_submoo li.hover a span,
#menusub_submoo li.havechildhover a span,
#menusub_submoo li.havechild-activehover a span {
}

#menusub_submoo li ul ul li {
	width: 16.9em;
}
#menusub_submoo li ul li {
	border-bottom: 1px solid #777;
}
#menusub_submoo li ul li.hasChild {
}
#menusub_submoo li ul a {
	margin: 0;
	padding: 0;
	line-height: normal;
	height: auto;
	background: #525252;
	border: none !important;
}
#menusub_submoo li ul a:hover,
#menusub_submoo li ul a:active,
#menusub_submoo li ul a:focus {
	background: #525252 url(../../images/bg-submenu.jpg) repeat-x top;
}

#menusub_submoo li ul a span {
	padding: 0 0 0 20px;
	line-height: 28px;
	font-weight: normal;
	background: none !important;
	text-transform: none;
	color: #FFF !important;
}

#menusub_submoo li.havesubchild,
#menusub_submoo li.havesubchild-active {
}

#menusub_submoo li ul a:hover,
#menusub_submoo li ul a:active,
#menusub_submoo li ul a:focus,
#menusub_submoo ul li:hover,
#menusub_submoo ul li.hover,
#menusub_submoo ul li.havesubchildhover,
#menusub_submoo ul li.havesubchild-activehover,
#menusub_submoo ul ul li:hover,
#menusub_submoo ul ul li.hover,
#menusub_submoo ul ul li.havesubchildhover,
#menusub_submoo ul ul li.havesubchild-activehover {
}

#menusub_submoo li ul a.active span,
#menusub_submoo li ul a:hover span,
#menusub_submoo li ul a:active span,
#menusub_submoo li ul a:focus span {
}
#menusub_submoo ul li a.active {
}

#menusub_submoo ul li a.active:hover,
#menusub_submoo ul li a.active:active,
#menusub_submoo ul li a.active:focus {
}