/*=========mF_tbhuabao========*/
.mF_tbhuabao {overflow:visible; width:662px; background:#ff0000; height:auto; padding:0px; border:1px solid #999;}
.mF_tbhuabao .pic,.mF_tbhuabao .pic ul{position:absolute; top:0;left:0; overflow:hidden; width:662px; height:333px;}
.mF_tbhuabao .pic li{position:relative;float:left;overflow:hidden;}
.mF_tbhuabao .txt{ display:none;}
.mF_tbhuabao .txt li{position:absolute; z-index:2;width:100%;height:38px;line-height:38px;display:none;}/*默认标题高度*/
.mF_tbhuabao .txt li a{display:block;position:relative;z-index:1;color:#fff;padding-left:16px;font-size:14px;font-weight:bold;text-decoration:none;}/*标题样式*/
.mF_tbhuabao .txt li b{display:block;height:100%;width:100%;position:absolute;top:0;left:0;background:#000;filter:alpha(opacity=30);opacity:0.3;}
.mF_tbhuabao .dot{position:absolute;top:301px;left:0;height:32px;line-height:28px;width:100%;text-align:center; /* background:#fff; z-index:5; */}
.mF_tbhuabao .dot li{display:inline;margin:0 3px;}
.mF_tbhuabao .dot li a{color:#999;font-size:30px;text-decoration:none;-webkit-transition:color 0.4s;-moz-transition:color 0.4s;-o-transition:color 0.4s;}
.mF_tbhuabao .dot li.current a{color:#f60;}
.mF_tbhuabao .prev,.mF_tbhuabao .next{font:700 53px/58px arial; width:37px; height:333px;overflow:hidden;position:absolute;z-index:4;left:0px;cursor:pointer;}
.mF_tbhuabao .next{left:auto;right:0px; z-index:5;}
.mF_tbhuabao .prev a,.mF_tbhuabao .next a{display:block;color:#fff;text-align:center;text-decoration:none; width:37px; height:183px; padding-top:150px;}
.mF_tbhuabao .prev a:hover,.mF_tbhuabao .next a:hover{ color:#f60;}
