.menusys_css {
}
#menusys_css {
	margin: 0;
	padding: 0;
	float: left;
}
#menusys_css ul {
	margin: 0; 
	padding: 0;
}
#menusys_css li {
	margin: 0; 
	padding: 0 2px 0 0;
	float: left;
	display: block;
	background: url(../../images/bg-mainmenu-seperator.jpg) repeat-y right;
	cursor: pointer;
}
#menusys_css li ul {
	width: 16.9em;
	position: absolute;
	z-index: 99;
	left: -999em; 
	height: auto;
	background: #8A0506;
}
#menusys_css li ul ul {
	margin: -30px 0 0 16.9em;
}
#menusys_css li li {
	padding: 0;
	line-height: 24px;
	margin: 0;
	width: 16.9em;

}
#menusys_css ul a {
}
#menusys_css li:hover ul ul, #menusys_css li:hover ul ul ul,
#menusys_css li.hover ul ul, #menusys_css li.havechildhover ul ul, #menusys_css li.havechild-activehover ul ul, #menusys_css li.activehover ul ul,
#menusys_css li.hover ul ul ul, #menusys_css li.havechildhover ul ul ul, #menusys_css li.havechild-activehover ul ul ul, #menusys_css li.activehover ul ul ul {
	left: -999em;
}
#menusys_css li:hover ul, #menusys_css li li:hover ul, #menusys_css li li li:hover ul,
#menusys_css li.hover ul, #menusys_css li.havechildhover ul, #menusys_css li.havechild-activehover ul, #menusys_css li.activehover ul,
#menusys_css li li.hover ul, #menusys_css li li.havesubchildhover ul, #menusys_css li li.havesubchild-activehover ul, #menusys_css li li.activehover ul,
#menusys_css li li li.hover ul, #menusys_css li li li.havesubchildhover ul, #menusys_css li li li.havesubchild-activehover ul, #menusys_css li li li.activehover ul {
	left: auto;
}
/* Menu styling begin */

#menusys_css li a {
	padding:0 25px;
	display: block;
	line-height: 37px;
	text-decoration: none;
}
#menusys_css li a span {
	color: #FFF;
	font-size: 110%;
	font-weight: bold;
	display: block;
}
#menusys_css li a:hover,
#menusys_css li a:active,
#menusys_css li a:focus {
	color: #3B5468;
}
#menusys_css li:hover a,
#menusys_css li.hover a,
#menusys_css li.havechildhover a,
#menusys_css li.havechild-activehover a {
   background:url(../../images/bg-mainmenu-hover.jpg) repeat-x top;
}
#menusys_css li:hover a span,
#menusys_css li.hover a span,
#menusys_css li.havechildhover a span,
#menusys_css li.havechild-activehover a span {
}
#menusys_css li a.active,
#menusys_css li a.active:hover,
#menusys_css li a.active:active,
#menusys_css li a.active:focus {
	color: #ccc;
	text-shadow: 0 1px 0 #FFF;
	background:url(../../images/bg-mainmenu-active.jpg) repeat-x top;
}
#menusys_css li a.active span,
#menusys_css li a.active:hover span,
#menusys_css li a.active:active span,
#menusys_css li a.active:focus span {
	color: #C30204;
	display:block;
}
#menusys_css li ul li.hasChild {
	border-right: none;
}
#menusys_moo li ul li li {
}
#menusys_css li ul a,
#menusys_css li ul a:hover,
#menusys_css li ul a:active {
	margin: 0;
	padding: 7px 0;
	line-height: normal;
	height: auto;
	background: none !important;
	border: none !important;
	text-shadow: none;
}
#menusys_css li ul a span {
	padding: 0 0 0 20px;
	font-weight: normal;
	color: #FFF;
	background: none !important;
	text-transform: none;
}
#menusys_css li.havesubchild,
#menusys_css li.havesubchild-active {

}
#menusys_css li ul a:hover,
#menusys_css li ul a:active,
#menusys_css li ul a:focus,
#menusys_css ul li:hover,
#menusys_css ul li.hover,
#menusys_css ul li.havesubchildhover,
#menusys_css ul li.havesubchild-activehover,
#menusys_css ul ul li:hover,
#menusys_css ul ul li.hover,
#menusys_css ul ul li.havesubchildhover,
#menusys_css ul ul li.havesubchild-activehover {
}
#menusys_css li ul a:hover span,
#menusys_css li ul a:active span,
#menusys_css li ul a:focus span,
#menusys_css li ul a.active span,
#menusys_css li ul a.active:hover span,
#menusys_css li ul a.active:active span,
#menusys_css li ul a.active:focus span {
}
#menusys_css ul li a.active {
}
#menusys_css ul li a.active:hover,
#menusys_css ul li a.active:active,
#menusys_css ul li a.active:focus {
}